[data-id=text] {
    cursor: pointer;
}

.task-done {
    text-decoration: line-through;
    color: #999999;
}

#title {
    color: #1177ff;

}

#finish {
    color: mediumblue;
    font-weight: 600;
}